version: "3"

services:
    node:
        image: viniciusmattosrj/node:10-slim
        container_name: js-moderno
        restart: on-failure
        networks:
            - app-network
            
networks:
    app-network:
        driver: bridge
